Django==4.2.1
django-cors-headers==4.0.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
psycopg2==2.9.6
ptyprocess==0.7.0
PyJWT==2.3.0
pymacaroons==0.13.0
pytest==7.3.1
python-apt==2.4.0+ubuntu1
python-debian===0.1.43ubuntu1
python-dotenv==1.0.0
python-magic==0.4.24
python-xapp==2.2.2
python-xlib==0.29
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1

